<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogFolder" value="~/App_Data/Logs/" />
    <add key="ReportFolder" value="~/App_Data/Reports/" />
  </appSettings>

  <connectionStrings>
    <!-- Update Data Source / Integrated Security as required for your machine -->
    <add name="SmartGymDB"
     connectionString="Data Source=(localdb)\MSSQLLocalDB;
                       Initial Catalog=SmartGymDB;
                       Integrated Security=True;"
     providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />

    <!-- Session-based authentication: 30-minute timeout -->
    <sessionState mode="InProc" timeout="30" />

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Dashboard.aspx" timeout="30" />
    </authentication>

    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
